body {
    padding: 0;
    margin: 0;
    background-color: #fafafa;
    
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #123;
    width: 100%;
    height: 60px;
}

.nav a {
    font-size: 40px;
    text-decoration: none;
    color: #cdd0e4;
    font-weight: bold;
}

.nav a:hover {
    color: #fafafa;
}

.contenedor {
    background-color: #cdd0e4;
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
    position: relative;
}

.card {  
    padding: 20px;
}

.cardContact {
    display: flex;
    height: 200px;
    flex-direction: row !important;
    margin-top: 5px;
}

.form-control {
    margin-top: 10px;
}

.btn {
    margin-top: 10px;
}

.list-contacto {

    width: 80%;
    padding:  10px;
    overflow-y: scroll;
}

.alert {
    position: absolute !important;
    top: 0;
    right: 0;
    width: 30%;
}

.flex-line {
    display: flex;
    gap: 10px;
}

.img-contacto {
    align-content: center;
    width: 30%;
    margin-right: 10px;
    height: auto;
    box-sizing: border-box;
}

.editContacto {
    background-color: #cdd0e4;
    width: auto;
    height: calc(100vh - 60px);
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 10;
    overflow: scroll;
}

.fotosContainer {
    z-index: 200;
}


